<!-- The Add Modal -->
    <div id="aModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Add a Child</h1>
        <h3>Enter the child's info below: </h3>
        <hr class="my-3">
        <form>
          <h2>Enter the Name:</h2>
          <input type="text" id="nameValAddModal">
          <h2>Enter the Guardian Name:</h2>
          <input type="text" id="guardianValAddModal">
          <h2>Enter the Email Address:</h2>
          <input type="text" id="emailValAddModal">
          <h2>Enter the Phone Number:</h2>
          <input type="text" id="phoneValAddModal">
          <br>
          <br>
          <button type="button" id="submitAddModal" >Submit</button>
        </form>
        <h3></h3>
      </div>

    </div>
