
<!-- The View All Children Modal -->
<div id="vacmyModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" id="addKidsHere">
    <span class="close2">&times;</span>
    <div class="card border-info mb-3" style="max-width: 18rem;">
   {{Children}}
    </div>
  </div>

</div>
