<!-- The View All Records -->
<div id="recmyModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" id="addRecordsHere">
    <span class="close4">&times;</span>
    <div class="card border-info mb-3" style="max-width: 18rem;">
   {{Records}}
    </div>
  </div>

</div>