<!-- The Retrieve by Name Modal -->
    <div id="retNModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close3">&times;</span>
        <h1 id = "childName">Child Name: </h1>
        <h3 id = "childEmail">Child Email Address</h3>
        <h3 id = "childPhone">Child Phone Number</h3>
        <br>
        <br>
        <button type="button" id="clock-in">Clock In</button>
        <input type="text" id="guardianIn" placeholder="Enter the Guardian Name">
        <br>
        <br>
        <button type="button" id="clock-out">Clock Out</button>
        <input type="text" id="guardianOut" placeholder="Enter the Guardian Name">
        <br>
        <br>
        <button type="button" id="deleteChild">Delete?</button>
      </div>


    </div>
