<!-- The Retrieve by Name Modal -->
    <div id="retNModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close3">&times;</span>
        <div class = "childInfo"></div>
        <br>
        <br>
        <button type="button" id="clock-in">Clock In</button>
        <input type="text" id="guardianIn" placeholder="Enter the Guardian Name">
        <br>
        <br>
        <button type="button" id="clock-out">Clock Out</button>
        <input type="text" id="guardianOut" placeholder="Enter the Guardian Name">
        <br>
        <br>
        <button type="button" id="deleteChild">Delete?</button>
      </div>


    </div>
