<div id="vsModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close1">&times;</span>
        <h1>Teacher Schedule</h1>
        <img src="../../public/assets/EverydaySchedule.jpg" alt="Teacher Schedule">
        <h1>Class Schedule</h1>
        <img src="../../public/assets/schedule.PNG" alt="Class Schedule">
      </div>

    </div>