
  <div class = "container">
        <div class="row bg-white">

          <div class="col-3">
            <img src="../../public/assets/Logo.png" width="120%" height="80%">
          </div>
          <div class="col-6"></div>
          <div class="col-3">
            <img src="../../public/assets/daycare pic.jpg" width="80%" height="80%" id="dayPic">
          </div>

        </div>

        <br>
        <br>
        {{!-- Form needs to be around all inputs including buttons --}}
        {{!-- "action" is like <a *href*></a> for a "route" but for ajax --}}
        <form class="form-group form-signin" action="/signin" method="post">
          <div class = "row">
            <div class = "col-12 flex">
              <h1 id = "username_text">Username: </h1>
              <input type="text" id="signin-username" name="signin-username" placeholder="Username">
            </div>
          </div>

          <br>
          <br>

          <div class = "row">
            <div class = "col-12 flex">
              <h1 id = "password_text">Password: </h1>
              <input type="password" id="signin-password" name="signin-password" placeholder="Password">
            </div>
          </div>

        <br>
        <br>

        <div class = "row">
          <div class = "col-12 flex">
            <button type="submit" id="login-btn">Login</button>
          </div>
        </div>
        </form>
        {{!-- I don't know how to make passport work with only 1 form --}}
        <form class="form-group form-signin" action="/signup" method="post">
        <div class = "row">
          <div class = "col-12 flex">
            <h1 id = "username_text">Username: </h1>
            <input type="text" id="signup-username" name="signup-username" placeholder="Username">
          </div>
        </div>

        <br>
        <br>

        <div class = "row">
          <div class = "col-12 flex">
            <h1 id = "password_text">Password: </h1>
            <input type="password" id="signup-password" name="signup-password" placeholder="Password">
          </div>
        </div>

      <br>
      <br>

      <div class = "row">
        <div class = "col-12 flex">
          <button type="submit" id="signup-btn">Signup</button>
        </div>
      </div>
      </form>
  </div>

  <div class="container1">

    <div class="row bg-white">

      <div class="col-3">
        <img src="../../public/assets/Logo.png" width="120%" height="80%">
      </div>
      <div class="col-6"></div>
      <div class="col-3">
        <img src="../../public/assets/daycare pic.jpg" width="80%" height="80%" id="dayPic">
      </div>

    </div>

    <br>


    <div class="row">

      <div class="col-12 flex" id="firstr">

        <form>
          <h2>Enter the</h2>
          <h2>Name:</h2>
          <input type="text" id="nameVal">
          <button type="button" id="reUID">Retrieve</button>
        </form>
      </div>
    </div>

    <br>
    <br>

    <br>
    <br>

    <div class="row">

      <div class="col-12 flex">

        <button type="button" class="btn btn-secondary" id="abbutton">Add</button>
        <button type="button" class="btn btn-secondary" id="vsbutton">View Schedules</button>
        <button type="button" class="btn btn-secondary" id="vacbutton">View All Children</button>
      </div>

    </div>

    {{> addmodal}}

    <!-- The View Schedule -->
   {{> viewSchedule}}
{{!-- View Children Modal --}}
        {{> children}}

    </div>
{{!-- Retrive Users --}}
    {{> retrieval}}
    
  </div>

  </div>